# 00-setup-github-pages.yml
name: 00-setup-github-pages

# Trigger the workflow when this file is changed
# and on manual deploy

# YOU WILL NEED to setup PAT_GH_PAGES secret in the org or repo settings.
# A fine grained token WILL NOT WORK.  It must be a classic token with repo and pages scope.

on:
  push:
    branches: [ main ]
    paths: [.github/workflows/00-setup-github-pages.yml]
  workflow_dispatch:


# Build the site using `npm run build`
# Deploy the contents of the `build` directory to the `gh-pages` branch

permissions:
    contents: write
    pages: write

jobs:
    setup-github-pages:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Create gh-pages branch if not exists
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }} 
              run: |
                    echo "Checking if gh-pages branch exists for repository: ${{ github.repository}}"
                    if git ls-remote --exit-code --heads origin gh-pages; then
                        echo "gh-pages branch already exists for repository: ${{ github.repository}}"
                    else
                        echo "Creating gh-pages branch for repository: ${{ github.repository}}"
                        git checkout --orphan gh-pages
                        git rm -rf .
                        git commit --allow-empty -m "Initial commit on gh-pages branch"
                        git push origin gh-pages
                        if [ $? -ne 0 ]; then
                            echo "Failed to create gh-pages branch for repository: $repo"
                            exit 1
                        fi
                        echo "gh-pages branch created for repository: ${{ github.repository}}"
                    fi
            - name: Enable Github Pages
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }} 
              run: |
                    echo "Enabling GitHub Pages for repository:${{ github.repository}}"
                    if ! curl -sS -L -f -X POST \
                        -H "Accept: application/vnd.github+json" \
                        -H "Content-Type: application/json" \
                        -H "Authorization: Bearer ${{env.GITHUB_TOKEN}}" \
                        -H "X-GitHub-Api-Version: 2022-11-28" \
                        https://api.github.com/repos/${{ github.repository}}/pages \
                        -d '{"source":{"branch":"gh-pages","path":"/"}}'; then
                        echo "Failed to enable GitHub Pages for repository: ${{ github.repository}}"
                        exit 1
                    fi
                    echo "GitHub Pages enabled for repository: $repo"
            - name: Set repo in "about" section 
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }} 
              run: |
                    echo "Setting up github pages site on about page for repository: $repo"
                    curl -sS -f -X PATCH \
                        -H "Accept: application/vnd.github+json" \
                        -H "Content-Type: application/json" \
                        -H "Authorization: Bearer ${{ env.GITHUB_TOKEN }}" \
                        -H "X-GitHub-Api-Version: 2022-11-28" \
                        https://api.github.com/repos/${{ github.repository }} \
                        -d "{\"homepage\":\"https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}\"}"
                    if [ $? -ne 0 ]; then
                        echo "Failed to set github pages site for repository: ${{ github.repository }}"
                        exit 1
                    fi
                    echo "GitHub Pages set on about page for repository: ${{ github.repository }}"
