# 00-setup-github-pages.yml
name: 00-setup-github-pages

# Trigger the workflow when this file is changed
# and on manual deploy

on:
  push:
    branches: [ main ]
    paths: [.github/workflows/00-setup-github-pages.yml]
  workflow_dispatch:

env:
  GH_TOKEN: ${{ github.token }}

# Build the site using `npm run build`
# Deploy the contents of the `build` directory to the `gh-pages` branch

permissions:
    contents: write
    pages: write

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Create gh-pages branch if not exists
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }} # Store your Personal Access Token in Secrets
                ORG_NAME: ${{ github.repository_owner }}      # Replace with the organization name
                REPO: ${{ github.repository }}
              run: |
                    echo "Checking if gh-pages branch exists for repository: ${{env.ORG_NAME}}/${{ github.repository}}"
                    if git ls-remote --exit-code --heads origin gh-pages; then
                        echo "gh-pages branch already exists for repository: ${{env.ORG_NAME}}/${{ github.repository}}"
                    else
                        echo "Creating gh-pages branch for repository: ${{env.ORG_NAME}}/${{ github.repository}}"
                        git checkout --orphan gh-pages
                        git rm -rf .
                        git commit --allow-empty -m "Initial commit on gh-pages branch"
                        git push origin gh-pages
                        if [ $? -ne 0 ]; then
                            echo "Failed to create gh-pages branch for repository: $repo"
                            exit 1
                        fi
                        echo "gh-pages branch created for repository: ${{env.ORG_NAME}}/${{ github.repository}}"
                    fi
            - name: Enable Github Pages
              env:
                GITHUB_TOKEN: ${{ secrets.PAT }} # Store your Personal Access Token in Secrets
                ORG_NAME: ${{ github.repository_owner }}      # Replace with the organization name
                REPO: ${{ github.repository }}
              run: |
                    echo "Enabling GitHub Pages for repository: ${{env.ORG_NAME}}/${{ github.repository}}"
                    curl -sS -L \
                        --X POST \
                        -H "Accept: application/vnd.github+json" \
                        -H "Authorization: Bearer ${{env.GITHUB_TOKEN}}" \
                        -H "X-GitHub-Api-Version: 2022-11-28" \
                        https://api.github.com/repos/${{env.ORG_NAME}}/${{ github.repository}}/pages \
                        -d '{"source":{"branch":"gh-pages","path":"/"}}'
                    if [ $? -ne 0 ]; then
                        echo "Failed to enable GitHub Pages for repository: $repo"
                        exit 1
                    fi
                    echo "GitHub Pages enabled for repository: $repo"
            - name: Set repo in "about" section 
              env:
                 GITHUB_TOKEN: ${{ secrets.PAT }} # Store your Personal Access Token in Secrets
                 ORG_NAME: ${{ github.repository_owner }}      # Replace with the organization name
                 REPO: ${{ github.repository }}
              run: |
                    echo "Setting up github pages site on about page for repository: $repo"
                    curl -X PATCH -H "Authorization: token ${{env.GITHUB_TOKEN}}"  \
                        -H "Accept: application/vnd.github+json" \
                        https://api.github.com/repos/${{env.ORG_NAME}}/${{env.REPO}} \
                        -d "{\"homepage\":\"https://${{env.ORG_NAME}}.github.io/${{env.REPO}}\"}"
                    if [ $? -ne 0 ]; then
                        echo "Failed to set github pages site for repository: ${{env.ORG_NAME}}/${{env.REPO}}"
                        exit 1
                    fi
                    echo "GitHub Pages set on about page for repository: ${{env.ORG_NAME}}/${{env.REPO}}"
